@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Handlee&display=swap");

body {
    background-color: #f8f8f8;
}
.font-poiret {
  font-family: "Cabin", sans-serif;
  font-family: "Handlee", cursive;
}
